.widget_50 {
    width: 50% !important;
}

.widget_30 {
    width: 30% !important;
}


.widget_20 {
    width: 20% !important;
}

.widget_25 {
    width: 20% !important;
}



.w_10 {
    width: 10rem !important;
}

.w_20 {
    width: 20rem !important;
}

.w_30 {
    width: 30rem !important;
}
.w_40 {
    width: 40rem !important;
}
.w_50 {
    width: 50rem !important;
}

.w_60 {
    width: 60rem !important;
}

.w_70 {
    width: 70rem !important;
}

.w_80 {
    width: 80rem !important;
}

.w_90 {
    width: 90rem !important;
}
.w_100 {
    width: 100rem !important;
}
